<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Welcome</title>
    <style>
        .center {
            text-align: center; /* Center-align only the welcome message */
        }
    </style>
</head>
<body>
    <h1 class="center">Welcome to Magna New Mobility!</h1>
    <h2>DevOps Team</h2>
    <ul>
        {% for user in users %}
            <li>
                <strong>Name:</strong> {{ user.name }} <br>
                <strong>Title:</strong> {{ user.title }} <br>
                <strong>Manager:</strong> {{ user.manager }} <br>
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
